html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.icon {
  width: 80%;
}

.mecha {
  flex: 1 1 40%;
}

.text {
  min-width: 0;
  vertical-align: middle;
  flex: 1 1 55%;
  flex-basis: content;
  padding-bottom: 1em;
  margin-right: 1.75em;
}

.text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin: 0;
  max-width: 380px;
}

.text p {
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  margin-top: .5em;
}

.content {
  flex-basis: 45em;
  min-width: 40em;
  max-width: 45em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  padding-bottom: 1rem;
}

.banner {
  display: block;
  width: 100%;
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.btn {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: .6em .75em;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.125rem;
  border: solid 3px;
  font-family: Roboto, sans-serif;
  border-color: #333;
}

.btn:hover {
  background-color: #000;
  border: solid 3px;
  border-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}
